<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <%= message %>
    </p>
    <ul>
      <% for ( i=0; i<links.length; i++ ) {  %>
        <li>
          <a href="<%- links[i].url %>">
            <%= links[i].text %>
          </a>
        </li>
      <%  } %>
    </ul>
  </body>
</html>
